@model PanGamez.Models.CostoMantenimiento

@{
    ViewData["Title"] = "Calcular Costo de Mantenimiento";
}

<h1>Calcular Costo de Mantenimiento</h1>

@if (Model != null && ViewData["MaintenanceCost"] != null)
{
    <h2>Resultado del Costo de Mantenimiento:</h2>
    <p>Total: @ViewData["MaintenanceCost"]</p>
}
else
{
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="HorasTrabajo">Número de horas de trabajo:</label>
            <input asp-for="HorasTrabajo" class="form-control" />
            <span asp-validation-for="HorasTrabajo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Mtbf">MTBF (Mean Time Between Failures):</label>
            <input asp-for="Mtbf" class="form-control" />
            <span asp-validation-for="Mtbf" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NumeroFallas">Número de fallas:</label>
            <input asp-for="NumeroFallas" class="form-control" />
            <span asp-validation-for="NumeroFallas" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DuracionTarea">Duración de la tarea (en horas):</label>
            <input asp-for="DuracionTarea" class="form-control" />
            <span asp-validation-for="DuracionTarea" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DuracionTarea">Costo por hora de trabajo:</label>
            <input asp-for="DuracionTarea" class="form-control" />
            <span asp-validation-for="DuracionTarea" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Repuestos">Precio de repuestos:</label>
            <input asp-for="Repuestos" class="form-control" />
            <span asp-validation-for="Repuestos" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TareasAdicionales">Costo de tareas adicionales:</label>
            <input asp-for="TareasAdicionales" class="form-control" />
            <span asp-validation-for="TareasAdicionales" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RetrasoLogistico">Costo de retraso logístico:</label>
            <input asp-for="RetrasoLogistico" class="form-control" />
            <span asp-validation-for="RetrasoLogistico" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CostoUnitarioParada">Costo unitario por parada:</label>
            <input asp-for="CostoUnitarioParada" class="form-control" />
            <span asp-validation-for="CostoUnitarioParada" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CostoFallaUnica">Costo de falla vez única:</label>
            <input asp-for="CostoFallaUnica" class="form-control" />
            <span asp-validation-for="CostoFallaUnica" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>
}
